.challenge-detail{
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-radius: 10px;
  width:50%;
  margin: auto;
}

.sidenav{
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(13, 204, 211);
  padding: 20px;
  color: white;
}

.sidenav a{
  display: block;
  width: 100%;
}

.main{
  position: fixed;
  padding-left: 5%;
  padding-top: 5%;
}

.post-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

div.post{
  display: inline;
  margin: 10%;
  padding: 10%;
  border: 5px;
  border-style: solid;
  border-radius: 20px;
}

div ul{
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
}

div li{
  display: inline;
  padding: 0 16px;
}

img{
  width: 100%;
}

button{
  color: aqua;
  font-weight: bold;
  font-size: x-large;
  border: none;
  background-color: white;
}

button:hover{
  border-radius: 5px;
  background-color: yellow;
}

div.container{
  position: relative;
  padding: 0
}

div.container .top-right{
  position: absolute;
  top: 8px;
  right: 8px;

  height: 15%;
  width: 15%;
}

div.container .top-left{
  position: absolute;
  top: 8px;
  left: 8px;

  height: 15%;
  width: 15%;
}

.container a{
  text-decoration: none;
}

.active{
  background-color: yellow;
  border-radius: 5px;
}

div.top-left img{
  padding-bottom: 20%;
}

li svg{
  position: absolute;
  width: 5%;
  height: 5%;
  right: 20px;
}

li button.mat-button{
  border-radius: 50%;
}

li .mat-menu{
  background-color: rgb(13, 204, 211);
  color: white;

  width: 200px;
  height: 200px;
}

.name-tag{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50px 1fr auto;
}

.item-a{
  border-radius: 50%;
  grid-row: 1 / span 2;
}

.item-b{
  justify-self: center;
  font-weight: bolder;
}

.item-c{
  justify-self: center;
  color: grey;
}

.item-d{
  grid-row: 1 / span 2;
  grid-column-start: 3;
}

.drop-down-menu{
  border-radius: 20px;
  background-color: rgb(13, 204, 211);
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-items: center;
  color: white;
}

.tem-a{
  grid-column: 1 / span 2;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  justify-self: center;
}
