img{
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
}

.container{
    padding: 0%;
    margin: 0%;
    position: relative;
}

.form{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 30%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

button{
    width: 90%;
    border: 0;
    padding-bottom: 10px;
}

#sign-up{
    background-color: yellow;
}

#sign-in{
    background-color: aqua;
}

label{
    padding-bottom: 10px;
    font-weight: bold;
}