.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.challenge{
    width: 300px;
    height: 300px;
    margin: 10%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li{
    display: inline;
    padding: 14px 16px;
    color: aqua;
    font-weight: bold;
    font-size: larger;
}