.container{
    position: absolute;
    margin: 0%;
    padding: 0%;
    width: auto;
    height: auto;
}

img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.form{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #f8f8ff;
    padding: 20px;
    width: 27.5%;
    height: 60%;
}

input{
    display: inline;
    width: 100%;
    border: 0;
    font-size: x-large;
    font-weight: bold;
    color: #00ff00;
}

label{
    margin-top: 10%;
    margin-bottom: 10px;
    font-weight: bold;
}

.button{
    margin-top: 10%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00ff00;
    opacity: 0.5; /* Firefox */
  }
  