.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.challenge{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin: 10%;
    padding: 10%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
}

li{
    text-align: center;
    display: inline;
    padding: 0 16px;
}

button{
    color: aqua;
    font-weight: bold;
    font-size: x-large;
    border: none;
    background-color: white;
}

.active, button:hover {
    background-color: yellow;
    border-radius: 5px;
}

nav{
    margin-top: 14px;
}

img{
    width: 100%;
}
