<nav>
    <h1 mat-dialog-title>SUBMIT AN IDEA</h1>
    <button mat-button (click)="onNoClick()">X</button>
</nav>

<div>
    <label>Challenge Name</label>
    <input type="text" [(ngModel)]="title" placeholder="TYPE HERE">
    <label>The Rules</label>
    <input type="text" [(ngModel)]="description" placeholder="Type the rules or a description of your idea here">
    <input class='input_file' type="file" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)">
    <label>Add a cover photo for your challenge idea (if you have one)</label>

    <div class="">
      <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
    </div>
    <button (click)="clickSubmitButton()">SUBMIT</button>
</div>
