<div class="container">
  <img src="../../../assets/dog_splash.jpg" alt="Dog hanging tongue on car window"/>
  <div class="form">
    <label>username</label>
    <input type="text" placeholder="TYPE HERE" #userName required/>
    <label>email</label>
    <input
      type="email"
      class="formControl"
      placeholder="TYPE HERE"
      #userEmail
      required
    />
    <label>password</label>
    <input
      type="password"
      placeholder="TYPE HERE"
      [(ngModel)]="password"
      #userPwd
      required
    />
    <label>confirm password</label>
    <div *ngIf="message"><span style="color: red;">{{ message }}</span></div>
    <input
      type="password"
      class="validate"
      placeholder="TYPE HERE"
      [(ngModel)]="confirmPassword"
      [class.validate]="!validate()"
      required
    />
    <input
      type="button"
      class="button"
      value="Sign Up"
      (click)="authService.SignUp(userName.value, userEmail.value, userPwd.value)"
    />
    <!-- <input
      type="button"
      class="button"
      value="Facebook Sign Up"
      (click)="authService.FacebookAuth()"
    /> -->
  </div>
</div>