div{
    position: fixed;
    width: 248px;
    height: 125px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-99px);
}

.top-button{
    margin-left: 88px;
    margin-right: 91px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
}

.left_button{
    border: 0;
    border-radius: 10px;
}

.left-button-animation{
    animation-duration: 1s;
    animation-name: left-button-slidein;
}

@keyframes left-button-slidein{
    from {
      transform: translateX(87px);
    }

    to {
      transform: translateX(0px);
    }
}

.top-button-animation{
    animation-duration: 1s;
    animation-name: top-button-slidein;
}

@keyframes top-button-slidein{
    from {
      transform: translateY(77px);
    }

    to {
      transform: translateY(0px);
    }
}

.right_button{
    border: 0;
    border-radius: 10px;
}

.right-button-animation{
    animation-duration: 1s;
    animation-name: right-button-slidein;
}

@keyframes right-button-slidein{
    from {
      transform: translateX(-87px);
    }

    to {
      transform: translateX(0px);
    }
}

.main-button{
    margin-left: 25px;
    margin-right: 25px;
    border: 0;
    border-radius: 10px;
}

.off-button{
    position: sticky;
    left: 50%;
    bottom: 96px;
    transform: translateX(-12px);

    border: 0;
    border-radius: 10px;
}
